In [2]:
print('hello world in codespaces')

hello world in codespaces

In [39]:
import pandas as pd
import wget
import os 
import gzip
import shutil
from time import time
from sqlalchemy import create_engine

In [45]:
table_name = "ny_taxi"

In [4]:
file_name = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz'

In [5]:
wget.download(file_name)

100% [..........................................................................] 7854533 / 7854533

'green_tripdata_2019-09.csv.gz'

## Open the .gz file and read the csv in a panda df

In [47]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator = True,  chunksize=100000, compression="gzip")
df_iter

In [48]:
df = next(df_iter)

## change the column into datetime type

In [49]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

## create engine to connect to the postgres instance

In [50]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [51]:
engine.connect()

In [52]:
df.head(n=0).to_sql(name="ny_taxi", con=engine, if_exists='replace')

0

In [53]:
df.to_sql(name="ny_taxi", con=engine, if_exists='append')

1000

## Create a loop to ingest the data into postgres instance

In [54]:
while True:
        t_start = time()
        
        df = next(df_iter)
        
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        
        df.to_sql(name=table_name, con=engine, if_exists='append')
        
        t_end = time()
        
        print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 10.935 second
inserted another chunk..., took 10.675 second

/tmp/ipykernel_50539/1758840740.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 11.660 second
inserted another chunk..., took 4.549 second

StopIteration:

## dataset with zones

In [42]:
wget.download("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv")

100% [..............................................................................] 12322 / 12322

'taxi_zone_lookup.csv'

In [43]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [44]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265